*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	 background-color: #a6b5ac;
	 font-family: helvetica, Arial;
}
.wrapper{
	width: 60%;
	margin: 50px auto;

	background-color: #796161;
}
h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;
	color: #711834;
}
.control{
	background-color: #c5d5e8;
	}
.control,
.container{
	text-align: center;
	padding: 25px 0;

}
.control__text{
	width: 60%;
	line-height: 45px;
	padding-left: 15px;
	/*border-radius: 2px;*/
	font-size: 25px;
	margin-right: 10px;
	border: 2px solid #000080;

}
input:focus {
	outline: none;
	border: 2px solid #b865e4;
}
.item__text{
	display: inline-block;
	font-size: 22px;
	padding-left: 20px;
	width: 80%;
	line-height: 30px;
}
.item__edit,
.item__rem,
.item__submit,
.item__close{
	position: absolute;
	top:20px;
	right: 15px;

}

.item__edit{
	top:20px;
	right: 48px;
}

.item__submit{
	top: 20px;
	right: 48px;
}

.item{
	position: relative;
	border: 2px solid #2f4f4f;
	margin: 15px auto;
	width: 80%;
	line-height: 45px;
	background-color: #ececec;
	padding: 5px;
	padding-top: 8px;
	padding-right: 15px;
	text-align: left;

}

.item__new{
		width: 80%;
	line-height: 22px;
	padding-left: 15px;
	border-radius: 5px;
	line-height: 20px;
	font-size: 20px;
	font-family: Arial;
	padding-top: 5px;
	}

.edit {
	display: none;

}

i>span {
	font-family: arial;
	padding-left: 10px;
}

.fa-check-circle {
  color: #00bfff;
}

.fa-check-circle:hover {
  color: #000080;
}

.fa-times-circle,
.fa-trash-o {
  color: #ff00ff;
}

.fa-trash-o:hover,
.fa-times-circle:hover {
  color: #ff1493;
}

.fa-pencil-square-o {
  color: #000080;
}

.fa-pencil-square-o:hover {
  color: #228b22;
}

.fa-plus-square {
  color: #008080;
}


.fa-plus-square:hover {
  color: #0052cc;
}


.fa-pencil-square-o,
.fa-trash-o,
.fa-check-circle,
.fa-plus-square,
.fa-times-circle,
.fa-refresh {
  cursor: pointer;

}
